<% layout("/layouts/boilerplate.ejs") %>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
    <h1>Edit your listing</h1>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-2 fs-5">
            <label for="title" class="form-label">Title</label>
                <input 
                  type="text" 
                  name="listing[title]" 
                  value="<%= listing.title %>" 
                  placeholder="enter title"
                  class="form-control"
                  required
                >
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Title should be valid!</div>
        </div>

        <div class="mb-2 fs-5">
            <label for="description" class="form-label">Description</label>
                 <textarea 
                 name="listing[description]" 
                 rows="3" cols="10"
                 class="form-control"
                 required
                 ><%= listing.description %></textarea>
                 <div class="invalid-feedback">Please enter short description</div>
        </div>

        <div class="mb-2 fs-5">
            Original Listing Image: <br>
            <img src="<%= originalImageUrl %>" />
        </div>


        <div class="mb-2 fs-5">
            <label for="image" class="form-label">Upload new Image Link</label>
                 <input 
                 type="file" 
                 name="image" 
                 class="form-control"
                >
        </div>

        <div class="mb-2 fs-5">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" class="form-control" required>
            <option value="">Select Category</option>

            <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
            <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>Rooms</option>
            <option value="iconic" <%= listing.category === "iconic" ? "selected" : "" %>>Iconic Cities</option>
            <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>Mountains</option>
            <option value="castles" <%= listing.category === "castles" ? "selected" : "" %>>Castles</option>
            <option value="pools" <%= listing.category === "pools" ? "selected" : "" %>>Amazing Pools</option>
            <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
            <option value="farms" <%= listing.category === "farms" ? "selected" : "" %>>Farms</option>
            <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
            <option value="deserts" <%= listing.category === "deserts" ? "selected" : "" %>>Deserts</option>
        </select>
        </div>


        <div class="row">

        <div class="mb-2 fs-5 col-md-4">
            <label for="price" class="form-label">Price</label>
                <input 
                 
                 name="listing[price]" 
                 value="<%= listing.price %>" 
                 placeholder="enter price"
                 class="form-control"
                 required
                >
                <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-2 fs-5 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input 
            type="text" 
            name="listing[country]" 
            value="<%= listing.country %>" 
            placeholder="enter country"
            class="form-control"
            required
            >    
            <div class="invalid-feedback">Country name should be valid</div>   
        </div>

        </div>

        

        <div class="mb-2 fs-5">
            <label for="location" class="form-label">Location</label>
                <input 
                type="text" 
                name="listing[location]" 
                value="<%= listing.location %>" 
                placeholder="enter location"
                class="form-control"
                required
                >
                <div class="invalid-feedback">Location should be valid</div>
        </div>

         

    <button class="btn add-btn mt-3">Update</button>
    <br>
</form>
</div>
</div>